* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f8;
}

/* HEADER */
.header {
  background: #1976d2;
  color: white;
  padding: 20px;
  text-align: center;
}

/* NAV BUTTONS */
.nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  flex-wrap: wrap;
}

.nav button {
  padding: 10px 20px;
  border: none;
  background: #fff;
  color: #1976d2;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.nav button.active {
  background: #1976d2;
  color: white;
}

/* MAIN CONTAINER */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

/* INPUTS */
input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* BUTTON */
.action-btn {
  margin-top: 15px;
  padding: 10px 18px;
  background: #1976d2;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Counter buttons styling */

.btn-group {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

/* Increase */
.increase {
  background-color: #4caf50;
}

/* Decrease */
.decrease {
  background-color: #f44336;
}

/* Reset */
.reset {
  background-color: #ff9800;
}


.btn-group {
  display: flex;
  gap: 12px;
  margin-top: 15px;
  flex-wrap: wrap;
}
.error {
  color: red;
  min-height: 18px;   /* reserves space */
  display: block;
  font-size: 12px;
  margin-top: 4px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 10px;
  }
}
